* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
}

#map {
  width: 100%;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em;
  overflow: auto;
  height: 100vh;
  width: 30em;
  background-color: #ffffff;
}

.sidebar__title {
  color: #222831;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  margin-bottom: 0.2em;
}

/* Starting location and Destination */
#form {
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

  width: 100%;
  background-color: #f7fbfc;
  text-align: center;
  margin-bottom: 0.6em;
}

#form label {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}

#form input {
  margin-bottom: 0.7em;
  text-align: center;
  font-size: 1rem;
  padding: 0.3em 0;
  border-radius: 5px;
  border: 1px solid #a8a8a8;
  outline: none;
}

#form input:focus {
  border: 1px solid #222831;
}

#form .button {
  margin-top: 0.5em;
  background-color: #00adb5;
  color: #eeeeee;
  border: 0px;
  font-size: 1rem;
  padding: 0.6em 0;
  font-weight: 600;
  letter-spacing: 0.1em;
}

#form .button:hover {
  margin-top: 0.5em;
  background-color: #00adb5;
  color: #eeeeee;
  border: 0px;
  font-size: 1rem;
  padding: 0.6em 0;
}

.pac-container {
  background-color: rgb(255, 255, 255);
  position: absolute!important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 1px solid #be2525;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden
}

.pac-item {
  font-family: Roboto;
  cursor: pointer;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  color: rgb(156, 156, 156)
}
.pac-item:hover {
  background-color: #dbdbdb
}
.pac-item-query {
  font-size: 14px;
  padding-right: 3px;
  color: #00adb5;
}
.pac-icon {
  transform: translate(2px, 2px);
  display: inline-block;
  background-image: url(https://cdn.iconscout.com/icon/free/png-256/right-arrow-1438234-1216195.png);
  background-size: 20px
}

/* Station names */
.display {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1em 1.5em;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

  width: 100%;
  flex-grow: 1;
  background-color: #f7fbfc;
  text-align: center;
}

.display__title {
  font-size: 1.5rem;
}

.display__label {
  font-size: 1.2rem;
}

.display__button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sortButton {
  margin: 0.2em;
}

#gasDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.gas__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.gas__item--highlighted {
}

.gas__item__title {
}

.gas__item__label {
}

.gas__item__button {
}

.gas__notice {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.button {
  border-radius: 100px;
  background-color: white;
  border: 1px solid black;
  padding: 0.5em 1.2em;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.08s ease-out;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  transform: translateY(-3px);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
}

.RobotoFont {
  font-family: 'Roboto', serif;
  color: blue;
  font-weight: bold;
}

/*body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
  
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    color: red;
    transition: all 300ms ease;
  }
  
  div {
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    padding: 16px;
    box-shadow: 8px 8px rgb(0, 0, 0);
    border-radius: 16px;
  }
  
  img {
    max-width: 100px;
    border-radius: 50%;
  }
  
  a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
  }
  
  .dark {
    background: black;
    color: #f0f0f0;
  }*/
